/*======================================
		HSIT-UI CSS
		author:   cai xue feng
		QQ:       66383210
		Email:    66383210@qq.com
		Date:     2014-08
		-----------------------------------------------
		说明：
		1：框架页所有的样式名称前面必须加 h-f-
			h:代表hsui,海晟UI
			f:代表frame,框架页

======================================*/
@import url('reset.css');
html,
body {
	text-rendering: optimizeLegibility;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
}
em { font-style: normal; }

/*
	链接字体样式
*/
a,
a:visited {
	color: #333333;
	text-decoration: none;
	cursor: pointer;
}
a:hover { color: #2a6496; }
.h-f-app-list-title a,
.h-f-app-list-title a:visited { color: #428bca; }
.h-f-app-list-title a:hover {
	color: #2a6496;
	text-decoration: underline;
}
.h-f-text-red { color: #fe6600 !important; }


/*
	标题统一采用微软雅黑字体
*/
.h-f-header,
.h-f-page-title,
.h-f-app-list-title strong,
.h-f-app-favorites-title,
.h-f-app-history-title,
.h-f-app-fav-name,
.h-f-aside-title,
.h-f-localbar {
	font-family: "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei";
	font-weight: 400;
}
/*
	基础样式
*/
.h-f-hide { display: none; }
.h-f-pad10 { padding: 10px; }
.h-f-pad20 { padding: 20px; }
.h-f-pd-tb {
	padding-top: 20px;
	padding-bottom: 10px;
}
.h-f-pd-r5 { padding-right: 5px; }
.h-f-pd-t5 { padding-top: 5px; }
.h-f-pd-t10 { padding-top: 10px; }
.h-f-bd-b { border-bottom: 1px solid #e2e2e2; }
.h-f-float-left { float: left !important; }
.h-f-float-right { float: right !important; }
.h-f-pull-left {
	position: absolute;
	left: 0;
	top: 0;
}
.h-f-pull-right {
	position: absolute;
	right: 0;
	top: 0;
}
.h-f-text-left { text-align: left; }
.h-f-text-right { text-align: right; }
.h-f-text-center { text-align: center; }
.h-f-clb { clear: both; }
/*---------------------------------------------
	图标
	h-f-icon      16X16  
	h-f-icon-l    24X24 
	h-f-icon-xl   32X32 
	h-f-icon-xxl   48X48
	h-f-icon-xxxxl   64X64  
----------------------------------------------*/
.h-f-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	background-image: url("images/framework/icon-default.png");
	background-position: center center;
	background-repeat: no-repeat;
}
.h-f-icon-l {
	width: 24px;
	height: 24px;
	line-height: 24px;
	background-image: url("images/framework/icon-default-l.png");
}
.h-f-icon-xl {
	width: 32px;
	height: 32px;
	line-height: 32px;
	background-image: url("images/framework/icon-default-xl.png");
}
.h-f-icon-xxl
 {
	width: 48px;
	height: 48px;
	line-height: 48px;
	background-image: url("images/framework/icon-default-xxl.png");
}
.h-f-icon-xxxl{
	width: 64px;
	height: 64px;
	line-height: 64px;
	background-image: url("images/framework/icon-default-xxxl.png");
}


.h-f-icon-tree-location { background-image: url(images/framework/icon-tree-location.png) !important; }
.h-f-icon-aside-hide { background-image: url(images/framework/icon-aside-hide.png) !important; }
.h-f-icon-aside-show { background-image: url(images/framework/icon-aside-show.png) !important; }
.h-f-icon-favorites { background-image: url(images/framework/icon-favorites.png) !important; }
.h-f-icon-app-history { background-image: url(images/framework/icon-app-history.png) !important; }
.h-f-icon-add-favorites { background-image: url(images/framework/icon-add-fav.png) !important; }
.h-f-icon-add-favorites-active { background-image: url(images/framework/icon-add-fav-active.png) !important; }
.h-f-icon-open-menu { background-image: url(images/framework/icon-open-menu.png) !important; }
.h-f-icon-arrow { background-image: url(images/framework/icon-aside-light-show.png) !important; }
.h-f-icon-delete { background-image: url(images/framework/icon-delete.png) !important;}
.h-f-icon-search { background-image: url(images/framework/icon-search.png) !important;}
.h-f-icon-back { background-image: url(images/framework/icon-back.png) !important;}
.h-f-icon-fullscreen { background-image: url(images/framework/icon-fullscreen.png) !important; }
.h-f-icon-exit-fullscreen { background-image: url(images/framework/icon-exit-fullscreen.png) !important;}



/*工具带激活状态*/

a.h-f-icon:hover {
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

.h-f-icon-help { background-image: url(images/framework/icon-help.png) !important; }
.h-f-icon-help-acitve { background-image: url(images/framework/icon-help-active.png) !important;}
.h-f-icon-favorite { background-image: url(images/framework/icon-favorite.png) !important; }
.h-f-icon-favorite-active { background-image: url(images/framework/icon-favorite-active.png) !important;}
.h-f-icon-setting { background-image: url(images/framework/icon-setting.png) !important;}
.h-f-icon-setting-active { background-image: url(images/framework/icon-setting-active.png) !important;}
.h-f-icon-delete { background-image: url(images/framework/icon-delete.png) !important;}
.h-f-icon-close { background-image: url(images/framework/icon-close.png) !important;}
.h-f-icon-tab-close { background-image: url(images/framework/icon-tab-close.png) !important;}
/*大图标 24px*/
.h-f-icon-home-l { background-image: url(images/framework/icon-home.png) !important; }
.h-f-caret {
	display: inline-block;
*display:inline;
*zoom:1;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #666;
	border-right: 4px solid transparent;
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
	content: "";
}
/*---------------------------------------------
	主体框架布局
----------------------------------------------*/
.h-f-wrapper {
	width: 100%;
	height: 100%;
	background: #fff;
}
.h-f-header {
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;

}
.h-top-bar {
	height: 40px;
	position:relative;
	z-index: 9999;
}
/*----------------------------------
	嵌入区域，主要用于业务页面的嵌入
----------------------------------*/
.h-f-content {
	width: 100%;
	height: auto;
	position: absolute;
	top: 76px;
	bottom: 0px;
	background: #eee;
	z-index:1;
}
.h-f-content .h-f-content-iframe {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0px;
}
.h-f-content iframe {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
.h-f-portal-main {
	position: absolute;
	left: 0;
	right: 280px;
	top: 0;
	bottom: 0;
}
.h-f-portal-aside {
	position: absolute;
	width: 280px;
	right: 0px;
	top: 0px;
	bottom: 0;
	background: #fcfcfc;
	border-left: 1px solid #d8dde0;
}
/*---------------------------------------------
	滑动菜单 布局
----------------------------------------------*/
.h-f-menu-area {
	width: 100%;
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0px;
	z-index: 9998;
}
.h-f-menu-aside {
	width: 180px;
	position: absolute;
	left: -180px;
	top: 0;
	height: 100%;
	z-index: 9997;
	
	background: #4397dd;
}
.h-f-menu-aside-main {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 30px;
	overflow: auto;

}
.h-f-menu-toolbar {
	color: #fff;
	height: 60px;
	padding: 10px 10px 0;
}
.h-f-menu-mode { padding-top: 10px; }
.h-f-menu-aside-footer {
	border-top: 1px solid #3886d7;
	width: 100%;
	position: absolute;
	height: 44px;
	overflow: hidden;
	bottom: 0;

}
.h-f-menu-aside-footer .h-f-icon { margin: 0 10px; }
/*layout--------------end-------------*/


/*--------------
	滑动菜单样式
-------------*/
.h-f-menu-slide {
	background: #fff;
	position: absolute;
	z-index: 9996;
	right: 200px;
	top: 0px;
	bottom: 0;
	left: 0;
	overflow: auto;
}
.h-f-menu-mask {
	position: absolute;
	right: 0;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 9995;
}
.h-f-menu-mask-content {
	background: #000;
	/*background: url(images/framework/overlay.png) repeat 0 0;*/
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/*页面标题*/
.h-f-page-header { border-bottom: 1px solid #eee; }
.h-f-page-title {
	padding: 20px 30px;
	display: block;
	font-size: 30px;
	line-height: 1;
	color: #999;
	font-weight: 400;
}
/*框架页工具栏*/
.h-f-page-toolbar {
	border-left: 1px solid #eee;
	height: 70px;
	padding: 0 20px;
}
.h-f-page-toolbar .h-f-icon { margin: 25px 0 0; }
.h-f-page-toolbar .h-f-icon + .h-f-icon { margin-left: 10px; }



/*--------------
	一级菜单区域
-------------*/
.h-f-menu { border-top: 1px solid #3886d7; }
.h-f-menu-item,
.h-f-menu-item:visited {
	cursor: pointer;
	position: relative;
	display: block;
	height: 44px;
	line-height: 44px;
	color: #fff;
	border-bottom: 1px solid #3886d7;
	padding: 0 5px 0 0;
	font-size: 14px;
	clear: both;
	font-weight: 800;
	overflow: hidden;
}
.h-f-menu-item:hover {
	background: #3886d7;
	color: #fff;
}
.h-f-menu-item em {
	display: inline-block;
 *display:inline;
 *zoom:1;
	width: 40px;
	text-align: center;
}
.h-f-menu-item .text { }
.h-f-menu-item-active,
.h-f-menu-item-active:hover {
	background: #fff url(images/framework/bg-menu.png) repeat-y;
	color: #333333 !important;
}
.h-f-menu-item .h-f-icon-arrow {
	position: absolute;
	right: 0;
	top: 0;
	height: 44px;
	width: 16px;
	background: url(images/framework/icon-aside-arrow.png) no-repeat center center                !important;
}
/*--------------
	二级菜单区域
-------------*/
.h-f-submenu-area {
	position: absolute;
	top: 70px;
	bottom: 0px;
	left: 30px;
	right: 0px;
	padding-top: 20px;
	padding-right: 30px;
	overflow: auto;
	

}
.h-f-submenu-item {
	width: 33.33%;
	float: left;
	margin-bottom: 20px;
}
/*--------------
	三级菜单区域
-------------*/
/*常用应用*/
.h-f-app-favorites {
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 80px;
	right: 50%;
	overflow: hidden;
}
/*历史应用*/
.h-f-app-history {
	position: absolute;
	left: 50%;
	top: 70px;
	bottom: 80px;
	right: 0;
	overflow: hidden;
	border-left: 1px solid #eee;
}
.h-f-app-favorites-title,
.h-f-app-history-title {
	background: no-repeat left center;
	height: 48px;
	line-height: 48px;
	padding-left: 58px;
	margin: 15px 30px 0;
	font-size: 20px;
}
.h-f-app-favorites-title { background-image: url(images/framework/icon-app-favorites-title.png) }
.h-f-app-history-title { background-image: url(images/framework/icon-app-history-title.png) }
/*快捷应用*/	
.h-f-app-quick {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 80px;
	overflow: hidden;
	background: #fcfcfc;
}
.h-f-app-quick-list {
	border-top: 1px solid #d8dde0;
	text-align: center;
	font-size: 0;/* 所有浏览器 */
*word-spacing:-1px;/* IE6、7 */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
.h-f-app-quick-list { letter-spacing: -5px;/* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/ }
}
.h-f-app-quick-item {
	display: inline-block;
 *display:inline;
 *zoom:1;
	font-size: 14px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	padding: 10px 10px;
	margin: 15px 5px 0;
	border-radius: 3px;
}
.h-f-app-quick-text {
	color: #fff;
	font-weight: 800;
}
/*色块背景色*/	
.h-f-bg-1 { background-color: #75b8dd !important; }
.h-f-bg-2 { background-color: #7bc552 !important; }
.h-f-bg-3 { background-color: #fec166 !important; }
.h-f-bg-4 { background-color: #fe4a63 !important; }
.h-f-bg-5 { background-color: #964afe !important; }
.h-f-bg-6 { background-color: #4a81fe !important; }
.h-f-bg-7 { background-color: #dd9f75 !important; }
.h-f-bg-8 { background-color: #52c5be !important; }
.h-f-app-quick-item:hover { background: #888; }
.h-f-app-quick-item:active { background: #444; }
/*h-f-app-list*/	

.h-f-app-list li { position: relative; }
.h-f-app-toolbar {
	position: absolute;
	width: 50px;
	left: 0;
	top: 0;
	height: 100%;
	text-align: left;
	z-index: 2;
	display: none;
}
.h-f-app-toolbar .h-f-icon {
	margin-top: 7px;
	margin-left: 22px;
}
.h-f-app-list-title .h-f-app-toolbar {
	background: #fff;
	width: 48px;
	height: 48px;
	background: #fff;
	text-align: left;
}
.h-f-app-list-title .h-f-app-toolbar .h-f-icon { margin-top: 16px; }
.h-f-app-list-title .h-f-app-toolbar .h-f-icon:hover { text-decoration: none; }
.h-f-app-fav-list .h-f-app-toolbar {
	background: #fff;
	width: 32px;
	height: 32px;
	background: #fff;
	text-align: center;
	border-radius: 24px;
	left: 8px;
	top: 16px;
}
.h-f-app-fav-list .h-f-icon {
	margin-top: 8px;
	margin-left: 0;
}
.h-f-app-list-title {
	font-size: 18px;
	line-height: 1;
	padding-bottom: 10px;
	height: 48px;
	position: relative;
}
.h-f-app-list-title em {
	float: left;
	display: block;
	height: 48px;
	width: 48px;
}
.h-f-app-list-title strong,
.h-f-app-list-title small {
	display: block;
	margin-left: 55px;
}
.h-f-app-list-title strong {
	padding-top: 15px;
	padding-bottom: 5px;
}
.h-f-app-list-title small {
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
.h-f-app-item {
	display: block;
	padding: 5px 10px 5px 55px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	background: url(images/framework/app-list-style.png) no-repeat 25px 50%;
	border: 1px solid transparent;
}
/*超过三级的菜单下拉*/
.h-f-app-item-group .h-f-app-item { display: inline-block; *display:inline;
 *zoom:1;
}
.h-f-app-item-group .h-f-pulldown {
	top:0;
	left: 0;
	z-index: -1;
	margin-left:-1px;
	width: 280px;


}
.h-f-app-item-group .h-f-pulldown-content {
	margin-top: 0;
	border-width: 1px;
	border-radius: 0px;
	background-color: #ecf4f9;
	border: 1px solid #bbd6e8;
	padding: 5px;
}




.h-f-app-item-group .h-f-pulldown-content-in {
	height: 300px;
	overflow: auto;
	background: #fff;
	padding: 10px;
}
.h-f-has-pulldown.h-f-active .h-f-app-item,
.h-f-has-pulldown.h-f-active .h-f-app-item:hover {
	background-color: #ecf4f9;
	border: 1px solid #bbd6e8;
	border-right-color:transparent !important;

}

/*下拉菜单在右上侧*/
.h-f-app-item-group-rt .h-f-pulldown {
	bottom:5px;
	top:auto;
}


/*下拉菜单在左下侧*/
.h-f-app-item-group-lb.h-f-active .h-f-app-item,
.h-f-app-item-group-lb.h-f-active .h-f-app-item:hover {
	border-right-color:#bbd6e8 !important;
	border-left-color:transparent !important ;

}
.h-f-app-item-group-lb .h-f-pulldown {
	margin-left:1px;
}


/*下拉菜单在左上侧*/
.h-f-app-item-group-lt.h-f-active .h-f-app-item,
.h-f-app-item-group-lt.h-f-active .h-f-app-item:hover {
	border-right-color:#bbd6e8 !important;
	border-left-color:transparent !important ;

}
.h-f-app-item-group-lt .h-f-pulldown {
	margin-left:1px;
	bottom:5px;
	top:auto;
}






.h-f-app-item:hover,
.h-f-app-fav-item:hover,
.h-f-subsystem-item:hover {
	background-color: #ecf4f9;
	border: 1px solid #bbd6e8;
	position: relative;
}
.h-f-app-item:active,
.h-f-app-item-active,
.h-f-app-fav-item:active,
.h-f-subsystem-item:active,
.h-f-subsystem-item-active {
	background-color: #cde6f7;
	border: 1px solid #92c0e0 !important;
}
.h-f-app-item:active span,
.h-f-app-item-active span,
.h-f-app-fav-item:active span { }





/*h-f-app-fav-list*/

.h-f-app-fav-list {
	position: absolute;
	left: 0;
	top: 70px;
	bottom: 0;
	right: 0;
	overflow: auto;
}
.h-f-app-fav-list li {
	margin: 0 30px;
	position: relative;
}
.h-f-app-fav-item {
	display: block;
	padding: 10px 10px 10px 55px;
	background: url(images/framework/icon-app-fav-item.png) no-repeat 7px 50%;
	border-radius: 3px;
	border: 1px solid transparent;
}
.h-f-app-fav-item:hover,
.h-f-app-fav-item:active { }
.h-f-app-fav-name {
	display: block;
	padding-bottom: 5px;
	font-size: 16px;
	line-height: 1;
}
.h-f-app-fav-text {
	color: #999;
	font-size: 12px;
}
/*--------------
	框架头部
-------------*/
.h-f-header .h-f-logo {
	height: 40px;
	float: left;
	margin: 0 10px 0 0;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	font-weight: 800;
	vertical-align:top;	
}
.h-f-logo-img,.h-f-application-name{ float:left; display:block;}
.h-f-logo-img img{ vertical-align:top;}
.h-f-application-name{ padding-left:5px;}
.h-f-header-separate {
	display: block;
	float: left;
	height: 40px;
	background:url(images/framework/frame_header_separate.png) no-repeat;
	width:2px;
	
}
/*subsystem*/

.h-f-subsystem {
	float: left;
	margin-left: 10px;
}
.h-f-subsystem.h-f-active { background: #fff; }
.h-f-header .h-f-subsystem.h-f-active .h-f-pull-text { color: #333333; }
.h-f-subsystem-group {
	border-bottom: 1px solid #ddd;
	color: #999;
	font-size: 16px;
	padding: 5px 0;
}
.h-f-subsystem-list {
	margin: 5px 0;
	overflow: hidden;
}
.h-f-subsystem-item {
	cursor: pointer;
	display: block;
	width: 100px;
	float: left;
	text-align: center;
	padding: 5px 0;
	position: relative;
	cursor: pointer;
	height: 80px;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 3px;
}
.h-f-subsystem-item em {
	display: block;
	margin: 5px;
	height: 28px;
	overflow: hidden;
}

.h-f-header-nav {
	position: relative;
	display: block;
	float: left;
}

.h-f-header-nav .h-f-header-nav-link {
	display: block;
	font-size: 15px;
	color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
}

.h-f-header-nav .h-f-header-nav-link:hover {
	background: #2a82cc;
	color: #fff;
}

.h-f-header-nav .h-f-active,
.h-f-header-nav .h-f-active:hover {
	background: #fff;
	color: #0072c6;
}

.h-f-header-nav.h-f-has-pulldown a {
	padding-right: 25px;
}

.h-f-header-nav.h-f-has-pulldown .h-f-pulldown a {
	padding: 0px;
}

.h-f-header-nav.h-f-has-pulldown .h-f-icon-pull-arrow {
	right: 10px;
}



/*.h-f-info*/
.h-f-header .h-f-info {
	float: right;
	text-align: right;
	padding-right: 10px;
}
.h-f-header .h-f-info .h-f-info-item,
.h-f-header .h-f-info .h-f-info-item-separate,
.h-f-header-nav-item,
.h-f-header-nav-item-separate {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	text-align: center;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}
.h-f-header-nav-item { padding: 0 6px; }

/*头部间隔线*/
.h-f-header .h-f-info .h-f-info-item-separate,
.h-f-header-nav-item-separate,
.h-f-header-separate {
	width: 2px;
	background: url(images/framework/frame_header_separate.png) no-repeat center center;
}
.h-f-header .h-f-info-item a,
.h-f-header .h-f-info-item a:visited,
.h-f-header-nav-item a,
.h-f-header-nav-item a:visited {
	color: #fff;
	padding: 0 4px;
}
.h-f-header .h-f-info-item a:hover,
.h-f-header-nav-item a:hover {
	text-decoration: underline;
	color: #fff;
}
.h-f-header .h-f-info-icon {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	width: 16px;
	height: 40px;
	margin-top: 1px;
	line-height: 40px;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 4px;
}
.h-f-header .h-f-icon-user { background-image: url("images/framework/icon-user.png") !important; }
.h-f-header .h-f-icon-notice { background-image: url("images/framework/icon-notice.png") !important; }
.h-f-header .h-f-icon-setting {background-image: url("images/framework/icon-setting-white.png") !important; }
.h-f-header .h-f-icon-public{background-image: url("images/framework/icon-alarm.png") !important;margin-top:-4px;}
.h-f-header .h-f-icon-do{background-image: url("images/framework/icon-do.png") !important;}
.h-f-header .h-f-notice-num {
	color: #fff ;
	padding: 0 4px;
	position: absolute;
	left: 20px;
	top: 5px;
	height: 16px;
	line-height: 16px;
	border-radius: 8px;
	background-color:#ff5b45;
	font-size:12px;
	
}
/*.下拉菜单*/
.h-f-has-pulldown {
	position: relative;
	cursor: pointer;
	z-index: 9000;
}
.h-f-pull-text { padding: 0 26px 0 8px; }
.h-top-bar .h-f-pull-text { color: #fff; }
.h-f-icon-pull-arrow {
	position: absolute;
	display: block;
	right: 10px;
	top: 12px;
	top:15px\9;
	height: 12px;
	width: 12px;
	font-size: 0;
	background: url(images/framework/icon-pull-arrow.gif) no-repeat center center;
}
.h-f-pulldown {
	position: absolute;
	cursor: default;
	top: 26px;
	right: 0;
	width: auto;
	min-width: 100px;
	display: none;
}
.h-f-arrow {
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-bottom: 6px solid #fff;
	border-right: 6px solid transparent;
	border-top: 0 dotted;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	right: 10px;
	top: 8px;
}
.h-f-pulldown-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: -1;
}
.h-f-pulldown-content {
	background: #fefefe;
	border-radius: 3px;
	border: #4397dd 1px solid;
	border-width: 0 1px 1px 1px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	padding: 10px 0;
	position: relative;
	margin-top: 14px;
	z-index: 1;
	overflow: hidden;
	zoom: 1;
	text-align: left;

}
.h-f-pull-item,
.h-f-pull-item:visited {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #333333 !important;
	white-space: nowrap;
	margin: 0 10px;
}
.h-f-pull-item:hover { background: #ecf4f9; }
.h-f-pull-item-separate {
	display: block;
	margin: 3px 10px;
	border-top: #d3d3d3 1px solid;
	border-bottom: #fff 1px solid;
	height: 0;
	line-height: 0;
	font-size: 0;
}
.h-f-frame-tab-item .h-f-pulldown { top: 30px; }
.h-f-frame-tab-item .h-f-pulldown-content {
	border-radius: 0 0 3px 3px;
	padding: 0;
	margin-top: 0;
}
.h-f-frame-tab-item li { position: relative; }
.h-f-frame-tab-item .h-f-pull-item {
	margin: 0;
	padding-left: 10px;
	padding-right: 30px;
}
.h-f-frame-tab-item .h-f-pulldown-content .h-f-icon {
	right: 10px;
	top: 10px;
}


/*breadcrumbs*/
.h-f-breadcrumbs { color: #999; }
.h-f-breadcrumbs .h-f-icon { margin-top: -4px; }
.h-f-breadcrumbs .h-f-link { color: #2672ec; }
.h-f-breadcrumbs .h-f-link:hover { text-decoration: underline; }
.h-f-breadcrumbs .h-f-breadcrumbs-item {
	background: url(images/framework/bg-breadcrumbs-separater.png) no-repeat right center;
	display: inline-block;
 *display:inline;
 *zoom:1;
	line-height: 35px;
	padding: 0 10px 0 5px;
}
.h-f-breadcrumbs .h-f-breadcrumbs-item .h-f-pulldown { line-height: 1.5; }
.h-f-breadcrumbs .h-f-breadcrumbs-item.h-f-breadcrumbs-current {
	background: none;
	color: #999;
	font-weight: 800;
}
.h-f-breadcrumbs .h-f-pull-text { padding: 0 16px 0 0; }
.h-f-breadcrumbs .h-f-pull-item {
	margin: 0;
	padding-left: 10px;
	padding-right: 30px;
}
.h-f-breadcrumbs .h-f-pulldown-content {
	border: #4397dd 1px solid;
	padding: 0;
	line-height: auto;
}
.h-f-breadcrumbs .h-f-pulldown {
	right: auto;
	left: 0;
	top: 22px;
}
.h-f-breadcrumbs .h-f-has-pulldow-title {
	border-bottom: 1px solid #dfdfdf;
	padding: 5px;
}
.h-f-breadcrumbs-menu {
	padding: 10px;
	max-height: 350px;
	overflow: auto;
}
.h-f-breadcrumbs-menu-area { float: left; }
.h-f-breadcrumbs-menu-area p {
	font-size: 16px;
	margin-top: 10px;
	padding-left: 20px;
}
.h-f-breadcrumbs-menu-area li { }
.h-f-breadcrumbs-menu-area li a {
	display: block;
	padding: 2px 0 2px 20px;
	background: url(images/framework/app-list-style.png) no-repeat 5px 50%;
}
.h-f-breadcrumbs-menu-area li a:hover {
	background-color: #ecf4f9;
	border-radius: 3px;
}

/*子系统切换下拉*/
.h-f-header .h-f-subsystem .h-f-pulldown {
	width: 562px;
	top: 40px;
	left: -1px;
	right: auto;
}
.h-f-header .h-f-subsystem .h-f-pulldown-content {
	border-radius: 0 0 3px 3px;
	margin-top: 0;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1;
	max-height: 280px;
	overflow: auto;
}
.h-f-header .h-f-subsystem .h-f-pull-text {
	font-size: 16px;
	line-height: 40px;
	color: #fff;
}
/*公告*/
.h-f-public{position:relative; width:244px; float:left; display:inline-block; left:0px}
.h-f-public-contant{height:40px;line-height:40px;overflow: hidden;}
.h-f-publicfont{color:#fff; display:inline-block;
width:220px; float:right;  line-height: 38px;text-align:left;
text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}

/*信息提醒*/
.h-f-header .h-f-notice .h-f-pulldown {
	width: 420px;
	right: 0;
	left: auto;
}
.h-f-header .h-f-notice .h-f-pulldown-content {
	padding: 0;
	text-align: left;
	line-height: 1.5;
	color: #333333;
}
.h-f-panel-body { padding: 10px; }
.h-f-panel-header {
	padding: 10px 10px;
	border-bottom: 1px solid #eee;
}
.h-f-panel-footer {
	padding: 10px 10px;
	background: #f7f7f7;
}
.h-f-panel-title { font-size: 16px; }
.h-f-nav-tab { text-align: right; }
.h-f-header .h-f-info-item .h-f-panel a {
	display: inline-block;
*display:inline;
*zoom:1;
	color: #428bca;
}
.h-f-header .h-f-info-item .h-f-panel a.h-f-notice-item {
	display: block;
	border: 1px solid transparent;
	border-radius: 3px;
}
.h-f-header .h-f-info-item .h-f-panel a.h-f-notice-item:hover {
	background: #ecf4f9;
	border: 1px solid #bbd6e8;
	text-decoration: none;
}
.h-f-header .h-f-info-item .h-f-panel a.h-f-notice-item:active {
	background: #cde6f7;
	border: 1px solid #92c0e0;
}
.h-f-notice-list {
	max-height: 200px;
height:expression( this.scrollHeight < 200 ? "200px" : "auto" );
	overflow: auto;
}
.h-f-notice-item dl {
	display: block;
	/*background: url(images/framework/icon-bg-todo.png) no-repeat 7px 50%;*/
	border-radius: 3px;
	border: 1px solid transparent;
	padding: 10px 10px 5px 5px;
}
.h-f-notice-item dt {
	color: #999;
	font-size: 12px;
	text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}
.h-f-notice-item dd {
	display: block;
	font-size: 14px;
	
}
.h-f-notice-item-time {padding:26px 5px 0 0; float:right; font-size:11px;  color:#999 }
/*代办提醒*/
.h-f-panel-alarmbodys{width:100%;max-height:344px; overflow:auto; overflow-x:hidden;padding:0px; width:100%}
.h-f-panel-alarmbodys a{ width:100%;text-decoration: none;text-decoration: none !important; border-bottom:#dddddd solid 1px; }
.h-f-panel-alarmbodys dl:hover{ border:none; background-color:#ecf4f9;}
.h-f-panel-alarmbodys dl{
	padding:10px 10px 15px 30px;
	line-height: 24px;
	color:#666;
	margin-left:-5px;
	}
.h-f-panel-alarmbodys dl dt{
	color:#666; 
	}
.h-f-panel-alarmbodys dl dd{
	font-size:14px;
	line-height:16px;
	}	
	
.h-f-alarm-contant{
  margin-top:13px; width:380px; display:block; padding-top:0;
	}
.h-f-header-alarm{
	padding:0px 15px;}
.h-f-panel-title-alarm{
	color:#666;
	}	
	
.h-f-panel-body-alarm{
	color:#fff;
	font-size:16px;
	padding:0px;
	margin:0px;
	}
.h-f-title-alarm{background-color:#f8f8f8; font-size: 14px; color: #0076b8; padding-left:15px; line-height:30px;  }
.h-f-panel-body-alarm span{
	color:#0076b8}
.h-f-panel-footer-alarm{ background-color:#e6eef6; margin:0px; line-height: 1.5; margin-bottom:-10px;  padding:5px 10px 10px 5px;}

.h-f-btn-alarm-go{color:#666 !important; font-size:16px;}


.h-f-btn-alarm{
	 background-color:#87bd00; padding:0px 20px 0px 20px!important;  border-radius:4px;  color:#fff !important;  font-size:1em; line-height:1.6em; text-align:center; float:right; display:block}
.h-f-btn-alarm-cancel{
	float:right; 
	color:#0076b8!important;
	font-size:14px;
	}

/*-----------------------
	面包屑导航
---------------------------*/

.h-f-localbar {
	height: 35px;
	border-bottom: 1px solid #ededed;
	background: #fafafa;
	padding: 0 5px 0 0;
}
.h-f-localbar .h-f-float-right { padding-top: 8px; }
.h-f-localbar .h-f-float-right .h-f-icon { margin: 0 5px 0 0; }
/*打开菜单按钮*/
.btn-menu-open {
	display: block;
	background: url(images/framework/bg-open-menu.png) no-repeat;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	width: 70px;
	color: #fff;
	padding-left: 10px;
	font-weight: 800;
}
.btn-menu-open:hover {
	background: url(images/framework/bg-open-menu-hover.png) no-repeat;
	color: #fff;
}
/*关闭菜单按钮*/
.h-f-btn-menu-close {
	display: block;
	background: url(images/framework/icon-aside-slide-close.png) no-repeat center center;
	height: 32px;
	width: 32px;
	text-indent: -2000px;
}
.h-f-btn-menu-close:hover { background-image: url(images/framework/icon-aside-slide-close-active.png); }
.h-f-localbar .h-f-btn .h-f-btn-content {
	margin-left: 5px;
	padding-right: 5px;
}
.h-f-form-app-search {
	width: 200px;
	float: right;
	margin-top: 25px;
	padding-right: 20px;
}
.h-f-form-app-search .h-f-form-control{}


/*-----------------------

	常用应用界面添加应用按钮

---------------------------*/
.h-f-btn-app-delete {
	background: url(images/framework/icon-app-delete.png);
	height: 32px;
	width: 32px;
	border: none;
	position: absolute;
	right: 20px;
	top: 0;
	text-indent: -2000px;
}
/*-----------------------
	按钮
---------------------------*/

.h-f-btn {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	margin-bottom: 0;
	height: 26px;
	line-height: 26px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: url(images/framework/btn.png) repeat-x;
}
.h-f-btn .h-f-btn-content {
	display: inline-block;
 *display: inline;
 *zoom: 1;
	height: 26px;
	line-height: 26px;
	background: url(images/framework/btn.png) no-repeat right top;
	padding-right: 10px;
	margin-left: 10px;
}
.h-f-btn:hover,
.h-f-btn:focus {
	text-decoration: none;
	background: url(images/framework/btn-hover.png);
}
.h-f-btn:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.h-f-btn:hover .h-f-btn-content,
.h-f-btn:focus .h-f-btn-content { background-image: url(images/framework/btn-hover.png); }
.h-f-btn:active,
.h-f-btn:active .h-f-btn-content { background-image: url(images/framework/btn-active.png); }
/*h-f-btn-radio*/
.h-f-btn-radio {
	background: url(images/framework/btn-radio.png) no-repeat left center;
	display: inline-block;
 *display:inline;
 *zoom:1;
	height: 20px;
	line-height: 20px;
	margin-right: 3px;
	padding-left: 20px;
}
.h-f-btn-radio .h-f-btn-content {
	display: block;
	background: url(images/framework/btn-radio.png) no-repeat right center;
	
	height: 20px;
	line-height: 20px;
	color: #fff;
	padding-right: 5px;
	margin-right: -3px
}
.h-f-btn-radio:hover,
.h-f-btn-radio:hover .h-f-btn-content { background-image: url(images/framework/btn-radio-hover.png) }
.h-f-btn-radio-checked,
.h-f-btn-radio-checked .h-f-btn-content { background-image: url(images/framework/btn-radio-checked.png) }
.h-f-btn-radio-checked {
	padding-right: 20px;
	padding-left: 0;
	background-position: right center;
	margin-left: 3px;
	margin-right: 0;
}
.h-f-btn-radio-checked .h-f-btn-content {
	margin-left: -3px;
	margin-right: 0;
	background-position: left center;
	padding-left: 5px;
	padding-right: 0;
}
.h-f-btn-radio-checked:hover,
.h-f-btn-radio-checked:hover .h-f-btn-content { background-image: url(images/framework/btn-radio-checked-hover.png) }
/*h-f-btn-separator */

.h-f-btn-separator {
	font-size: 0;
	width: 0px;
	height: 26px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	vertical-align: middle;
	margin-left: 5px;
}
/*h-btn-disabled*/
.h-f-btn.h-disabled .h-f-btn-content,
.h-f-btn[disabled] .h-f-btn-content,
.h-f-btn.h-disabled,
.h-f-btn[disabled] {
	cursor: default;
	background-image: url(images/framework/btn-disabled.png);
	color: #999;
	cursor: not-allowed;
}
.h-f-btn.h-disabled .h-f-icon,
.h-f-btn[disabled] .h-f-icon {
	opacity: 0.65;
	filter: alpha(opacity=65);
}


/*h-btn-nobg*/
.h-f-btn-nobg,
.h-f-btn-nobg .h-f-btn-content { background-image: none; }
.h-f-btn-nobg:hover,
.h-f-btn-nobg:hover .h-f-btn-content { background-image: url(images/framework/btn-hover.png); }
.h-f-btn-nobg:active,
.h-f-btn-nobg:active .h-f-btn-content { background-image: url(images/framework/btn-active.png); }
/*-----------------------
	表单
---------------------------*/
.h-f-form-control:-moz-placeholder, .h-f-form-control::-moz-placeholder, .h-f-form-control:-ms-input-placeholder, .h-f-form-control::-webkit-input-placeholder, .h-f-form-control-placeholder {
 color: #999999;
}
.h-f-form-control {
	display: block;
	padding: 4px 0;
	text-indent: 4px;
	color: #1e1e1e;
	font-size: 14px;
	vertical-align: middle;
	background: #fdfdfd url(images/framework/form-control-bg.jpg) repeat-x;
	border: 1px solid #cacccf;
	border-radius: 3px;
	width: 100%;
	text-indent: 5px;
}
.h-f-form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.h-f-form-control[disabled],
.h-f-form-control[readonly],
fieldset[disabled] .h-f-form-control {
	cursor: not-allowed;
	background-color: #eeeeee;
}
/*菜单图标*/
.h-f-icon-menu {
	display: inline-block;
*display:inline;
*zoom:1;
	width: 48px;
	height: 48px;
	vertical-align: text-top;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(images/framework/icon-default-xxl.png);
}
.h-f-menu .h-f-icon-menu {
	width: 24px;
	height: 24px;
	background-image: url(images/framework/icon-default-l.png);
}
/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************s**************************************************************************************************/
.h-f-main {
	width: 100%;
	height: auto;
	position: absolute;
	top: 40px;
	bottom: 0px;
}
.h-f-aside {
	width: 200px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9998;
}
.h-f-aside-close .h-f-aside-title,
.h-f-aside-close .h-f-search,
.h-f-aside-close .h-f-aside-main { display: none; }
/*拥有侧导航的嵌入区域*/
.h-f-content-have-side {
	height: 100%;
	width: auto;
	position: absolute;
	left: 200px;
	top: 0;
	right: 0;
	background: #eee;
}
.h-f-content-have-side .h-f-content-iframe {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0px;
}
.h-f-content-have-side .h-f-content-iframe iframe {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
/*拥有侧导航的嵌入区域*/
.h-f-content-have-tab { }
.h-f-content-have-tab .h-f-content-iframe { top: 36px; }
.h-f-content-have-tab-bottom .h-f-content-iframe { bottom: 30px; }

/*框架标签页*/
.h-f-frame-tab {
	height: 36px;
	background: #dce8f1 url(images/framework/frame-tab-bg.jpg) repeat-x bottom left;
}


/* 去除 inline-block 空隙解决方案==============start========== */
.h-f-frame-tab .h-f-frame-tab-list {
	padding-top: 6px;
	font-size: 0;/* 所有浏览器 */
*word-spacing:-1px;/* IE6、7 */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
.h-f-frame-tab .h-f-frame-tab-list { letter-spacing: -5px;/* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/ }
}
.h-f-frame-tab-item {
	display: inline-block;
 *display:inline;
 *zoom:1;
	position: relative;
	font-size: 14px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	margin-right: 3px;
}
/* 去除 inline-block 空隙解决方案============end============ */
.h-f-frame-tab-item .h-f-tab-link {
	display: block;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	border-radius: 3px 3px 0 0;
	background: #edf2f7 url(images/framework/frame-tab-item-bg.jpg) repeat-x bottom left;
	border: 1px solid #b5d5ec;
}
.h-f-frame-tab-item .h-f-icon {
	width: 8px;
	height: 8px;
	position: absolute;
	right: 4px;
	top: 4px;
}
.h-f-frame-tab-item .h-f-tab-link:hover {
	background: #f9f9f9;
	color: #333;
}
.h-f-frame-tab-item.h-f-active .h-f-tab-link {
	background: #f9f9f9;
	color: #333;
	font-weight: 800;
	border-bottom-color: #f9f9f9;
}
.h-f-frame-tab-toolbar {
	background: #fff;
	height: 36px;
	padding: 0 10px;
	border-left: 1px solid #b5d5ec;
}
.h-f-frame-tab-toolbar .h-f-icon { margin: 10px 0 0 5px; }




.h-f-frame-tab-bottom{
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	height: 30px;
	background: #fafafa;
	border-top:1px solid #b5d5ec;
}
.h-f-frame-tab-bottom .h-f-frame-tab-list{ padding:0;background: #dce8f1; position:relative;}
.h-f-frame-tab-bottom .h-f-frame-tab-item{ margin:0;}
.h-f-frame-tab-bottom .h-f-frame-tab-item .h-f-tab-link{ border:none;border-right:1px solid #b5d5ec; border-radius:0; height:30px;}

.h-f-frame-tab-bottom .h-f-tab-panel{ overflow:auto; position:absolute; left:0; right:0; bottom:0; top:30px;}


/*---------------------------------------------
	侧边栏树导航
----------------------------------------------*/
.h-f-aside { background: #f7f7f7 url(images/framework/side-bg.jpg) repeat-y right top; }
/*侧边栏树导航头部*/
.h-f-aside-header {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0;
	height: 36px;
	background: #dce8f1 url(images/framework/frame-tab-bg.jpg) repeat-x bottom left;
}
.h-f-aside-title {
	color: #336699;
	line-height: 36px;
	padding-left: 5px;
	font-size: 16px;
}
.h-f-aside-contral-btn {
	position: absolute;
	height: 16px;
	width: 16px;
	right: 5px;
	top: 7px;
}
/*侧边栏 搜索*/
.h-f-search {
	padding: 5px;
	background: #f8f8f8;
	border-bottom: 1px solid #dddddd;
}

.h-f-header .h-f-search {
	padding: 5px;
	background: none;
	border: none;
}

.h-f-aside-main {
	position: absolute;
	width: 100%;
	top: 36px;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 9997;
	overflow: auto;
}
.h-f-aside-panel-body { padding: 10px; }


/*组合表单控件，如带按钮，或单位等*/
.h-f-input-group {
	position: relative;
	display: block;
}


.h-f-input-group-search .h-f-form-control {
	text-indent:25px;
}
.h-f-input-group-icon{position:absolute; left:1px; top:1px; padding-left:5px; padding-right:3px; background: #fdfdfd url(images/framework/form-control-bg.jpg) repeat-x;}

table.h-f-input-group .h-f-form-control {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}


.h-f-input-group-btn {
	position: absolute;
	right: 0;
	top: 0;
+top:1px;
+right:-2px;
}
.h-f-input-clear {
	border: 1px solid #cacccf;
	height: 24px;
	border-right: none;
	border-left: none
}
.h-f-input-clear .h-f-icon { margin-top: 2px; }
.h-f-input-addon { width: 1%; }
.h-f-input-addon .h-f-btn,
.h-f-input-group-btn .h-f-btn {
	margin: 0 !important;
	border-left: 1px solid #b8b8b8;
}
.h-f-input-group-btn .h-f-btn.h-disabled { border-left: 1px solid #ccc; }
.h-f-input-group-btn .h-f-btn-content,
.h-f-input-addon .h-f-btn-content {
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
}

@media only screen and (max-width:670px) {
.h-f-info{ display:none;}
}
