/*======================================
		HSIT-UI CSS
		Date:     2016-05-18
======================================*/
/*重置mask*/ 
/*.h-mask-wrapper{
	height:auto;
	}*/
.help-head{ height:60px; width:100%; background-color:#5c9ad5; position:relative; text-align: center;}
.help-logo{ font-family: 微软雅黑;font-size: 28px; padding-left: 30px; background-image: url(images/help-logo.png);  background-position: 0 center; background-repeat: no-repeat; top: 50%; margin-top: -20px; left:20px; position: absolute;display: inline-block; color: #fff;}
.help-menu{margin-left:100px; padding-top:10px; display:inline-block} 
.help-menu li{ float:left}
.help-menu-btn{  padding: 2px 20px; font-size: 20px; color:#fff; color: rgba(255,255,255,1);  font-family: 微软雅黑;opacity:0.5}
.help-menu-btn:hover{color: rgba(255,255,255,1); opacity:1; cursor:pointer;}
.help-menu-btn.help-btn-active{padding:0px 18px; border:solid 2px #fff;  border: solid 2px rgba(255,255,255,0.5); border-radius: 30px;opacity:1}
.help-icon-explain{ background-image:url(images/help-icon-explain.png);margin-bottom: 5px; padding-right:5px;}
.help-icon-date{ background-image:url(images/help-icon-date.png);margin-bottom: 5px;padding-right:5px;}
.help-icon-see{ background-image:url(images/help-icon-see.png);margin-bottom: 5px;padding-right:5px;}
.help-contant{opacity:1;transition:all 0.3s ease-out; }
.help-contant-active{opacity:1; display:block;}
.help-contant-noactive{opacity:0;}

.help-info{display:inline-block;background-repeat:no-repeat; position:absolute;}
.help-info-add{ width:378px; margin-left:-242px; margin-top:20px;height:179px; background-image:url(images/infoAdd.gif);}
.help-info-save{ width:273px; margin-left:-190px; margin-top:-170px;height:160px;background-image:url(images/infoSave.gif);}
.help-info-project{width:273px; margin-left:-200px; margin-top:20px;height:148px;background-image:url(images/infoProject.gif);}
.help-info-calendar{width:273px;margin-top:130px;height:155px;background-image:url(images/infoCalendar.gif);}
.help-info-date{width:1161px;height:491px;top:90px; left:50%; margin-left:-580px; background-image:url(images/info-date.png);box-shadow:0 0 10px 4px rgba(0,0,0,0.2) ; border-radius:10px;}
.help-info-allprojects{width:367px;margin-top:20px;height:442px; margin-left:-340px;background-image:url(images/info-allprojects.png);}
.help-info-notic{width:384px;margin-left:150px;margin-top:30px;height:142px;background-image:url(images/info-notic.png);}
.help-info-projectgd{width:762px; margin-left:-680px;margin-top:30px;height:465px;background-image:url(images/info-projectgd.png);}
.help-close-btn{ width:36px; height:36px; background-image:url(images/help-icon-close.png) !important;  margin-right:10px; margin-top:5px; opacity:0.6}
.help-close-btn:hover{ opacity:1}
a:hover{ cursor:pointer}