@charset "utf-8";
/* CSS Document */

#full-height-slider.rsMinW .rsTabs{
	width:112px;
	margin-left:5px;
	
}
.rsOverflow{
	margin-left:117px;
	}
	
#full-height-slider.rsMinW .rsTab{
	border-bottom:#6096de solid 1px ; 
	}
#full-height-slider.rsMinW .rsTab:active {  
background: none;
	background-image:url(images/portal/tabbtn-left-selected.png);
	background-repeat:no-repeat;
	background-position:10px 15px ;
    border-top:none ;
	box-shadow:none ;
}
#full-height-slider.rsMinW .rsTab:hover {  
    background: none;
	background-image:url(images/portal/tabbtn-left-hover.png);
	background-repeat:no-repeat;
	background-position:10px 15px ;
    border-top:none ;
	box-shadow:none ;
}	
#full-height-slider.rsMinW .rsTab.rsNavSelected{
	background: none;
	background-image:url(images/portal/tabbtn-left-selected.png);
	background-repeat:no-repeat;
	background-position:10px 15px;
    border-top:none;
	}
		
#full-height-slider.rsMinW .rsTab a{
	padding-left:0;
	padding-bottom:10px;
	height:102;
	
	}