/*======================================
		HSIT-UI CSS
		author:   cai xue feng
		QQ:       66383210
		Email:    66383210@qq.com
		Date:     2014-08
		-----------------------------------------------
		
		框架皮肤样式，仅包含框架页的色调搭配

======================================*/

.h-p-wrapper-worker {
	 background-color: #237ae4;
    background-image: url(images/portal/img-workerbg.jpg) ;
	background-repeat:no-repeat;
 }
.h-p-aboutworker {
	background-image:none;

}
	


.h-p-panel-worker{ background-color: transparent;}


.h-p-panel-worker-l{  left: 15px;border-radius:6px;padding:0px;background-color: transparent; width:370px; margin-bottom:10px;box-shadow: 0 2px 6px rgba(0, 0, 0, .3);filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/ background-image: url(images/portal/img-panlebg.png) ;}
.h-p-Requirement{ left:0px; right:0px; padding:10px 0 0 20px;top: 68px; bottom:6px; background-color:#fcfcfc; }
.h-p-app-list-title { padding:10px; border-top-left-radius:6px; border-top-right-radius:6px; }

.h-p-panel-worker-r {
  top: 105px;border-radius:6px;background-image: url(images/portal/img-panlebg.png);margin-bottom:10px;box-shadow: 0 2px 6px rgba(0, 0, 0, .3);filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/}
 .h-p-submenu-item-w33{
	top: 68px; 
	padding-top:10px;
	padding-left:10px;
	bottom:6px;
	background-color:#fcfcfc;
	border-bottom-left-radius:6px; border-bottom-right-radius:6px;
	 } 
.h-p-submenu-item-w33 li {
  width: 33.3%;}	 