<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ICSSHS-UI</title>
<link href="css/framework.css" rel="stylesheet" type="text/css" />
<!--页面高度需设置100%，并保证不出现滚动条；否则所包含的标签无法获取到100%的高度，会导致布局错乱 by 66383210@qq.com-->

<style type="text/css">
html,
body {
	height: 100%;
	overflow: hidden;
}

html>body {	/*-- for !IE6.0 --*/
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
</style>
</head>
<body>
<div class="h-f-menu h-f-menu-app-add">
  <a href="#" class="h-f-menu-item" data-hsui="slide-menu">
    <span class="h-f-icon-arrow"></span>
    <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-menu-name1.png"  alt=""/></em> 基础定义 </a>
  <a href="#" class="h-f-menu-item h-f-menu-item-active" data-hsui="slide-menu">
    <span class="h-f-icon-arrow"></span>
    <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-menu-name2.png"  alt=""/></em> 项目规划 </a>
  <a href="#" class="h-f-menu-item " data-hsui="slide-menu">
    <span class="h-f-icon-arrow"></span>
    <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-menu-name3.png"  alt=""/></em> 建设计划 </a>
  <a href="#" class="h-f-menu-item " data-hsui="slide-menu">
    <span class="h-f-icon-arrow"></span>
    <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-menu-name4.png"  alt=""/></em> 项目建设 </a>
  <a href="#" class="h-f-menu-item " data-hsui="slide-menu">
    <span class="h-f-icon-arrow"></span>
    <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-menu-name5.png"  alt=""/></em> 项目管护 </a>
  <a href="#" class="h-f-menu-item " data-hsui="slide-menu">
    <span class="h-f-icon-arrow"></span>
    <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-menu-name6.png"  alt=""/></em> 政策法规 </a>
</div>
<div class="h-f-app-all-content">
  <div class="h-f-submenu-area">
    <h3 class="h-f-app-list-title">二级栏目名称</h3>
    <p class="h-f-app-list clearfix">
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-1.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-2.png"  alt=""/></em>
        <span class="h-f-btn-app-add h-f-btn-app-added">已添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-3.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-4.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-5.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-6.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-7.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-8.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-1.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-2.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
    </p>
    <h3 class="h-f-app-list-title">二级栏目名称</h3>
    <p class="h-f-app-list clearfix">
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-1.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-2.png"  alt=""/></em>
        <span class="h-f-btn-app-add h-f-btn-app-added">已添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-3.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-4.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-5.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-6.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-7.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-8.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-1.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
      <a href="#" class="h-f-app-item ">
        <em><img src="../../../../doc/web/framework/themes-app/resources/images/icon-app-2.png"  alt=""/></em>
        <span class="h-f-btn-app-add">点击添加</span> 项目管护 </a>
    </p>
  </div>
</div>
</body>
</html>